
<div class="row">
  Current:<%= current_user %> <br>
  Session: <%= session[:user_id] %>
  <hr>
  <div class="container">
    Attack: <%= current_user.attack %> (# rank)<br>
    Defense: <%= current_user.defense %> (# rank)<br>
    Covert: <%= current_user.covert %> (# rank)<br>

    Units per Turn: <%= current_user.unit_production %><br>
    Gold Income per Turn: <%= current_user.gold_production %><br>

    Turns: <%= current_user.turns %><br>
    Gold: <%= current_user.total_gold %><br>
  </div>
</div>

<div class="row">
  <u>Items: </u><br>
  <% if current_user.items.any? %>
    <% current_user.items.each do |item| %>
      <%= item.name %> (<%= item.quantity %>) [ <%= item.stat_sum %>]
    <% end %>
  <% end %>
</div>
