<% if current_user %>

  <div class="row">
    Current:<%= current_user %> <br>
    Session: <%= session[:user_id] %>
    <hr>
    Basic Stats:
    <div class="container">
      Attack: <%= current_user.attack %> (# rank)<br>
      Defense: <%= current_user.defense %> (# rank)<br>
      Covert: <%= current_user.covert %> (# rank)<br>

      Units per Turn: <%= current_user.unit_production %><br>
      Gold Income per Turn: <%= current_user.gold_production %><br>

      Turns: <%= current_user.turns %><br>
      Gold: <%= current_user.total_gold %><br>
    </div>

    Upgrades:
    <div class="container">
      Attack_Upgrade: <%= current_user.attack_level %><br>
      Defense_Upgrade: <%= current_user.defense_level %><br>
      Covert_Upgrade: <%= current_user.spy_level %>
    </div>
  </div>

  <div class="row">
    <u>Items: </u><br>
    None atm
  </div>
<% else %>
  Hi
<% end %>
